{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, #{provider => ex_doc}}]}.
{ex_doc, [
  {package, false},
  {extras, [
    {"README.md", #{title => "Overview"}},
    {"LICENSE", #{title => "License"}}
  ]},
  {main, "README.md"},
  {homepage_url, "https://github.com/adgear/consent-string"},
  {source_url, "https://github.com/adgear/consent-string"}
]}.

{erl_opts, [
  debug_info
]}.

{profiles, [
  {compile, [
    {erl_opts, [
      warnings_as_errors,
      warn_export_all,
      warn_export_vars,
      warn_missing_spec,
      warn_obsolete_guard,
      warn_shadow_vars,
      warn_untyped_record,
      warn_unused_import,
      warn_unused_vars
    ]}
  ]}
]}.

{project_plugins, [rebar3_lint]}.

{xref_checks, [
  deprecated_functions,
  deprecated_function_calls,
  locals_not_used,
  undefined_function_calls
]}.

%% used to name the command line utility to ag-consent
{escript_name, 'ag-consent'}.
